body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }


/* Typography */
html {
  font-size: 13pt; }
  @media screen and (max-width: 1680px) {
    html {
      font-size: 11pt; } }
  @media screen and (max-width: 980px) {
    html {
      font-size: 12pt; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 11pt; } }

body {
  background-color: #F5BCA9;
  color: #ff; 
  background-image:url(/home/robin/projet-visualization/Images/flame.png);
  background-repeat:no-repeat;}

body, input, select, textarea {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65; 
  margin: 6 auto;

}

a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: underline; }

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 3.25rem;
  line-height: 3.25rem;
  padding: 0 1.75rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.8rem;
    height: 2.4375rem;
    line-height: 2.4375rem;
    padding: 0 1.25rem; }
  input[type="submit"].large,
  input[type="reset"].large,
  input[type="button"].large,
  button.large,
  .button.large {
    font-size: 1.35rem;
    height: 4.0625rem;
    line-height: 4.0625rem;
    padding: 0 2rem; }
  input[type="submit"].wide,
  input[type="reset"].wide,
  input[type="button"].wide,
  button.wide,
  .button.wide {
    min-width: 13rem; }
  input[type="submit"].icon:before,
  input[type="reset"].icon:before,
  input[type="button"].icon:before,
  button.icon:before,
  .button.icon:before {
    margin-right: 0.5rem; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    width: 100%; }
  input[type="submit"].disabled, input[type="submit"]:disabled,
  input[type="reset"].disabled,
  input[type="reset"]:disabled,
  input[type="button"].disabled,
  input[type="button"]:disabled,
  button.disabled,
  button:disabled,
  .button.disabled,
  .button:disabled {
    pointer-events: none;
    opacity: 0.25; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #555555;
  color: #555555 !important; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    box-shadow: inset 0 0 0 1px #ce1b28;
    color: #ce1b28 !important; }
    input[type="submit"]:hover:active,
    input[type="reset"]:hover:active,
    input[type="button"]:hover:active,
    button:hover:active,
    .button:hover:active {
      background-color: rgba(206, 27, 40, 0.25); }
  input[type="submit"].primary,
  input[type="reset"].primary,
  input[type="button"].primary,
  button.primary,
  .button.primary {
    box-shadow: none;
    background-color: #ce1b28;
    color: #ffffff !important; }
    input[type="submit"].primary:hover,
    input[type="reset"].primary:hover,
    input[type="button"].primary:hover,
    button.primary:hover,
    .button.primary:hover {
      background-color: #e2212f;
      box-shadow: none; }
      input[type="submit"].primary:hover:active,
      input[type="reset"].primary:hover:active,
      input[type="button"].primary:hover:active,
      button.primary:hover:active,
      .button.primary:hover:active {
        background-color: #b71824; }






/* Form */
form {
  margin: 0 0 2rem 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1rem;
  text-decoration: none;
  width: 100%; }
  input[type="text"]:invalid,
  input[type="password"]:invalid,
  input[type="email"]:invalid,
  input[type="tel"]:invalid,
  input[type="search"]:invalid,
  input[type="url"]:invalid,
  select:invalid,
  textarea:invalid {
    box-shadow: none; }

label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 1rem 0; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"] {
  height: 3.25rem; }

select {
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 3.25rem;
  padding-right: 3.25rem;
  text-overflow: ellipsis; }
  select:focus::-ms-value {
    background-color: transparent; }
  select::-ms-expand {
    display: none; }

textarea {
  padding: 0.75rem 1rem; }

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1; }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    padding-left: 2.825rem;
    padding-right: 0.875rem;
    position: relative; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important; }
    input[type="checkbox"] + label:before,
    input[type="radio"] + label:before {
      border-radius: 4px;
      border: solid 1px;
      content: '';
      display: inline-block;
      height: 1.95rem;
      left: 0;
      line-height: 1.86875rem;
      position: absolute;
      text-align: center;
      top: -0.1625rem;
      width: 1.95rem; }
  input[type="checkbox"]:checked + label:before,
  input[type="radio"]:checked + label:before {
    content: '\f00c'; }

input[type="checkbox"] + label:before {
  border-radius: 4px; }

input[type="radio"] + label:before {
  border-radius: 100%; }

::-webkit-input-placeholder {
  opacity: 1.0; }

:-moz-placeholder {
  opacity: 1.0; }

::-moz-placeholder {
  opacity: 1.0; }

:-ms-input-placeholder {
  opacity: 1.0; }

label {
  color: #555555; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background-color: rgba(0, 0, 0, 0.075);
  border-color: rgba(0, 0, 0, 0.25); }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  input[type="url"]:focus,
  select:focus,
  textarea:focus {
    border-color: #ce1b28;
    box-shadow: 0 0 0 1px #ce1b28; }

select {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(0, 0, 0, 0.25)' /%3E%3C/svg%3E"); }
  select option {
    color: #444444;
    background-color: #ffffff; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  color: #444444; }
  input[type="checkbox"] + label:before,
  input[type="radio"] + label:before {
    background: rgba(0, 0, 0, 0.075);
    border-color: rgba(0, 0, 0, 0.25); }
input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background-color: #ce1b28;
  border-color: #ce1b28;
  color: #ffffff; }
input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #ce1b28;
  box-shadow: 0 0 0 1px #ce1b28; }

::-webkit-input-placeholder {
  color: #bbbbbb !important; }

:-moz-placeholder {
  color: #bbbbbb !important; }

::-moz-placeholder {
  color: #bbbbbb !important; }

:-ms-input-placeholder {
  color: #bbbbbb !important; }



